{% extends 'base.html' %}

{% block title %}
    List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if list_task %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for i in list_task %}
                            <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.start_date }}</td>
                                <td>{{ i.due_date }}</td>
                                <td>{{ i.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <table>
                    {% else %}
                        <p>You have no tasks</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
