{% extends 'base.html' %}

{% block title %}
    List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_object.name }}</h1>
            <p>
                {{ project_object.description }}
                <h2>Tasks</h2>
                <a href="{% url "create_task" %}">Create a new task</a>
                {% if project_object.tasks.all %}
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </thead>
                        <tbody>
                            {% for i in project_object.tasks.all %}
                                <tr>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.assignee }}</td>
                                    <td>{{ i.start_date }}</td>
                                    <td>{{ i.due_date }}</td>
                                    <td>{{ i.is_completed|yesno:"yes,no" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <table>
                        {% else %}
                            <p>This project has no tasks</p>
                        {% endif %}
                    </div>
                </main>
            {% endblock content %}
