{% extends 'base.html' %}

{% block title %}
    List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url "create_project" %}">Create a new project</a>
            </p>
            {% if list_project %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for i in list_project %}
                            <tr>
                                <td>
                                    <nav>
                                        <a href="{% url 'show_project' i.id %}">{{ i.name }}</a>
                                    </nav>
                                </td>
                                <td>{{ i.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <table>
                    {% else %}
                        <p>You are not assigned to any projects</p>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
